* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	letter-spacing: 1.2px;
	line-height: 1.6;
}

.App {
	min-height: 100vh;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

nav {
	height: 8vh;
	padding: 1rem 4rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navbar,
.cart {
	display: flex;
	align-items: center;
	font-size: 1.2rem;
	font-weight: 600;
}

.link {
	text-decoration: none;
	padding: 0.6rem 1.8rem;
	border-radius: 16px;
	color: #2e3537;
	transition: 0.5s;
}

.link:hover {
	background-color: rgba(0, 0, 0, 0.1);
}

.logo-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.logo {
	text-decoration: none;
	font-size: 1.6rem;
	letter-spacing: 10px;
	color: #2e3537;
	font-weight: bold;
}

/* Home section */
.home {
	height: calc(100vh - 8vh);
	background-image: url('https://images.hdqwalls.com/wallpapers/tesla-roadster-charging-qw.jpg');
	background-size: cover;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 10rem;
}

.hero {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10rem;
}

.hero h1 {
	font-size: 2.6rem;
}

.heading {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.hero p * {
	text-decoration: none;
	color: #2e3537;
	border-bottom: 1px solid #2e3537;
	font-size: 1.2rem;
}

.action-buttons {
	display: flex;
	gap: 2rem;
}

.black {
	background-color: #2e3537;
	color: #fff;
}

.call-to-action {
	height: 50px;
	width: 300px;
	border-radius: 20px;
	border: none;
	cursor: pointer;
}

/* About section */
.about {
	color: #2e3537;
	padding-top: 10rem;
	padding-left: 20rem;
}

.delivery {
	max-width: 40%;
}

.delivery h1 {
	font-weight: 500;
	margin-bottom: 2rem;
}

.delivery p {
	margin-bottom: 5rem;
}

/* Contact section */

.contact {
	color: #2e3537;
	padding-top: 10rem;
	padding-left: 20rem;
}

.faq {
	max-width: 40%;
}

.faq p {
	margin-bottom: 1rem;
}

/* Shop section */
.shop {
	padding: 4rem;
}

.items {
	display: flex;
	justify-content: center;
	gap: 2rem;
	flex-wrap: wrap;
}

.item {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px solid #dcdddd;
	padding-bottom: 1rem;
	border-radius: 10px;
	gap: 1rem;
}

.model {
	height: 60px;
	width: 400px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.img-container {
	width: 400px;
	height: auto;
}

.car-image {
	display: block;
	max-width: 100%;
}

.info-container {
	display: flex;
	padding: 1rem 1rem;
	justify-content: space-between;
	width: 400px;
	align-items: center;
}
.info-container > * {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.specs {
	font-size: 1.2rem;
	font-weight: 600;
}

.description {
	font-size: 12px;
}

.price-container {
	display: flex;
	align-items: center;
	height: 40px;
}

.price {
	font-size: 1.4rem;
	font-weight: 600;
}

.add-to-cart {
	width: 380px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	color: white;
	background-color: #03a561;
	border-radius: 10px;
	cursor: pointer;
	font-size: 1.2rem;
	font-weight: 600;
}

/* Shopping cart section */
.cart {
	position: relative;
}
.shopping-cart-counter {
	position: absolute;
	top: 12px;
	right: 18px;
	background-color: aqua;
	border-radius: 50%;
	width: 16px;
	height: 16px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 12px;
	color: #2e3537;
}

/* Error Modal */
.error-modal {
	position: fixed;
	height: 100vh;
	width: 100vw;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.4);
}

.error-text {
	width: 400px;
	max-width: 100%;
	height: 60px;
	background-color: #e85e6c;
	color: #fff;
	border-radius: 10px;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.error-text p {
	font-size: 1.3rem;
}

.error-text button {
	border-radius: 50%;
	height: 30px;
	width: 30px;
	border: none;
	font-size: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	color: #e85e6c;
}

.cart-container {
	padding: 4rem;
	display: flex;
	gap: 10rem;
	justify-content: center;
}

.shopping-cart {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.cart-item {
	width: 700px;
	padding: 1rem;
	display: flex;
	justify-content: space-between;
	gap: 1rem;
	border: 1px solid #dcdddd;
	border-radius: 10px;
}

.cart-img-container {
	width: 400px;
	height: auto;
}

.cart-img {
	display: block;
	max-width: 100%;
}

.cart-info {
	display: flex;
	flex-direction: column;
}

.cart-model h1 {
	font-size: 1.4rem;
	font-weight: 500;
}

.cart-price {
	font-weight: 600;
	font-size: 1.2rem;
}

.delivery {
	margin-top: 1rem;
	display: flex;
	flex-direction: column;
}

.delivery-heading {
	font-weight: 600;
}

.est-delivery {
	width: 150px;
}

.delete {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 30px;
	width: 30px;
	border: none;
	background-color: transparent;
	cursor: pointer;
}

.delete-icon {
	height: 20px;
}

.checkout {
	width: 350px;
	height: 310px;
	border-radius: 10px;
	border: 1px solid rgb(223, 223, 223);
	padding: 1rem;
}

.order-flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 14px;
	padding: 0.4rem;
}

.shipping-handling {
	border-bottom: 1px solid rgb(223, 221, 221);
}

.order-total {
	font-size: 1.2rem;
	font-weight: 600;
	color: #fc0019;
}

.agreement {
	margin-top: 2rem;
}

.agreement p {
	text-align: center;
	font-size: 12px;
}

.order-button {
	margin-top: 0.6rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.order-button button {
	height: 40px;
	width: 380px;
	background-color: #03a561;
	color: #dcdddd;
	font-size: 1.2rem;
	font-weight: 600;
	border: none;
	cursor: pointer;
	border-radius: 5px;
}

.quantity-container {
	display: flex;
	gap: 0.6rem;
	align-items: center;
}

.quantity-container button {
	height: 22px;
	width: 22px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	background-color: #22a0e9;
	color: #fff;
	border: none;
	cursor: pointer;
}
